<main class="main">
  <div class="content">

    <form [formGroup]="form" class="form">
      <h1>Crie seu Cartão de Visitas</h1>

      <div class="form-field">
        <label for="fullname">Nome completo: </label>
        <input id="fullname" type="text" formControlName="fullname" />
      </div>

      <div class="form-field">
        <label for="age">Idade: </label>
        <input id="age" type="number" formControlName="age" />
      </div>

      <div class="form-field">
        <label for="phone">Celular: </label>
        <input id="phone" type="tel" formControlName="phone" placeholder="Ex.: (00) 98888-7777" />
      </div>

      <div class="form-field">
        <label for="email">E-mail: </label>
        <input id="email" type="email" formControlName="email" />
      </div>

      <div formGroupName="address">
        <h3>Endereço</h3>
        <div class="form-field">
          <label for="street">Rua: </label>
          <input id="street" type="text" formControlName="street" />
        </div>

        <div class="form-field">
          <label for="number">Número: </label>
          <input id="number" type="number" formControlName="number" />
        </div>

        <div class="form-field">
          <label for="neighborhood">Bairro: </label>
          <input id="neighborhood" type="text" formControlName="neighborhood" />
        </div>

        <div class="form-field">
          <label for="city">Cidade: </label>
          <input id="city" type="text" formControlName="city" />
        </div>
      </div>
      <button [disabled]="form.invalid" type="submit" (click)="onCreate()">Criar</button>
    </form>

    @if (notValid) {
    <p class="error">{{ notValid }}</p>
    }

    @if (submitted) {
    <div class="visit-card">
      <h2 id="fullname">{{ form.value.fullname }}</h2>
      <p class="others">{{ form.value.age }}</p>
      <p class="contact">{{ form.value.phone }}</p>
      <p class="contact">{{ form.value.email }}</p>
      <p class="others">{{ form.value.address?.street }}</p>
      <p class="others">{{ form.value.address?.number }}</p>
      <p class="others">{{ form.value.address?.neighborhood }}</p>
      <p class="others">{{ form.value.address?.city }}</p>
    </div>
    }
  </div>

  <footer>
    <p>Gabriel Goldas &copy; 2025</p>
    <a href="">GitHub</a>
    <a href="">LinkedInd</a>
    <a href="">Instagram</a>
  </footer>
</main>